@import url('https://fonts.googleapis.com/css2?family=Fuggles&display=swap');

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
}

h1 {
  font-family: 'Fuggles', cursive;
  font-size: 60px;
}

#gameboard {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
  border: 5px solid slategray;
}

#gameboard:hover {
  cursor: pointer;
}

.fields {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border: 2px solid slategray;
  box-sizing: border-box;

  font-family: 'Fuggles', cursive;
  font-size: 60px;
}

#resetButton {
  width: 200px;
  height: 50px;;
  background-color: red;
  color: white;
  border-radius: 10px;
}

/* for medium screen sizes from 950px wide down */
@media screen and (min-width: 800px) {

#gameboard {
    width: 450px;
    height: 450px;
    border: 6px solid slategray;
}

.fields {
  width: 150px;
  height: 150px;
  font-size: 80px;
}

}